@font-face {
  font-family: TttgbMedium;
  src: url("@/assets/fonts/bigMedium.ttf");
}

@font-face {
  font-family: LED;
  src: url("@/assets/fonts/LED.ttf");
}

@font-face {
  font-family: DINAlternateBold;
  src: url("@/assets/fonts/DINAlternateBold.ttf");
}